* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 3.6rem;
  padding: 5rem 0rem;
}
a {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
}
h3 {
  font-size: 2.8rem;
}
button {
  font-size: 1.8rem;
}

nav {
  background: rgb(126, 126, 179);
  color: white;
  padding: 3rem;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
  list-style: none;
}
nav li {
  float: left;
  margin: 0rem 3rem;
}
.hero-section {
  background-image: url("./img1.jpg");
  height: 70rem;
  width: 100%;
  background-position: top;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 15rem;
  text-shadow: 3px 3px 3px black;
}
.hero-section button {
  margin-top: 4rem;
  padding: 2rem 6rem;
  background: rgb(126, 126, 179);
  border: none;
  color: white;
  cursor: pointer;
}
.form-section {
  text-align: center;
}

form input,
form label,
form textarea {
  display: block;
}
form input,
form textarea {
  margin: 2rem auto;
  font-size: 2rem;
}
form button {
  margin-bottom: 5rem:
}
